.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}
/*
  .input-control {
    margin-bottom: 8px; /* Adjust the margin as needed */
/* }
 */
.form-submit {
  margin-top: 8px; /* Adjust the margin as needed */
}
#Equals {
  background-color: aqua;
}
#Clear {
  background-color: red;
}
